# Telegram Bot 配置
BOT_TOKEN=8428259581:AAH-3Ug-Lianin2m1oCd_7CiIUBAaZxgIZk
CHANNEL_USERNAME=skynest_cloud29
CHANNEL_URL=https://t.me/skynest_cloud29
ADMIN_USER_ID=7677054035

# MySQL 数据库配置
MYSQL_HOST=home.skynestoffc.xyz
MYSQL_PORT=3306
MYSQL_USER=u6_sNaqlWiOmr
MYSQL_PASSWORD=.wLIgky^pzINU@MujmWdGIuR
MYSQL_DATABASE=s6_sheerid

# 积分配置（可选，默认值在 config.py 中）
# VERIFY_COST=1
# CHECKIN_REWARD=1
# INVITE_REWARD=2
# REGISTER_REWARD=1





